body{
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    background: #e0e0e0;
    font-size: 2vw;
}




nav{
    background-color: #fff;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 6vw;
    padding-right: 3vw;
}
.nav-flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo-span{
    display: inline-flex;
    padding: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 90%;
}
.logo.red{
    color: #ce2020;
    display: inline;
    margin: 0;
}
.logo.green{
    color: #8dc728;
    display: inline;
    margin: 0;
}
.links{
    display: inline-flex;
}
.link {
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #100f10;
    text-decoration: none;
    margin-top: auto;
    font-size: 0.6em;
}




.content{
    background: #e0e0e0;
    display: flex;
    padding-top: 6vw;
    padding-bottom: 80px;
}



.textbox{
    justify-content: flex-start;
    width: 25%;
    padding-left: 6vw;
    padding-right: auto;
}
.textbox>h1 {
    margin: 0;
    font-size: 2em;
    word-wrap: normal;
    font-weight: bolder;
}
.textbox>p{
    font-size: 0.7em;
}
.textbox>h3{
    font-size: 0.6em;
    font-weight:600;
    margin-top: 2em;
}



.pictures-div{
    justify-content: flex-end;
    width: 70%;
    max-width: 70%;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 5vw;
    padding-right: 4vw;
    

}
.picture-box{
    max-width: 80%;
    width: 80%;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.picture-box>img{
    width:100%;
    height:100%;
    object-fit: cover;

}

.caption{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 0.5em;
    font-weight: bolder;
}
.pic-white{
    background-color: #fff;
    text-align: right;
    
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:auto;
    margin-right: 0;
    width: fit-content;

}
.pic-green{
    background-color: #8dc728;
    text-align: right;
    margin-left: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width:70%;
}



